/* HTML */
body{
    align-items: center;
    margin: 0;
    background:-webkit-linear-gradient(rgb(176, 184, 248), rgb(96, 96, 245));
}
header{
    position:static;
}
h1{
    margin: 0;
    padding: 10px 0;
}
h2{
    text-align: center;
    text-decoration: double;
}
h3{
    margin: 0;
    padding: 0;
}
h4{
    margin: 2px 0px 0px 0px ;
}
h5{
    text-align: center;
    margin: 0;
}
h6{
    margin: 0;
}
footer{
    background-color: rgb(24, 24, 92);
    color: rgba(228, 215, 215);
    border-radius: 3rem 3rem 0 0;
    padding: 5px;
    text-align: center;
    flex-direction: column;
    margin-top: 2%;

    position:relative;
    bottom:0;
}


/* IDs */
#minhafoto{
    border-radius: 50%;
    margin-top: 2%;
    width: 90%;
    border-style: solid;
    color: rgba(25, 9, 114);
}
#perfil{
    width: 100px;
}
#quemsou{
    width: 250px;
    padding: 0 0 0 10px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
}
#github, #linkedin, #instagram{
    padding:0 8px;
    color: black;
}
#HTML5, #CSS, #JavaScript, #bootstrap{
    padding: 5px 15px 0px 20px;
}
#projetos{
    display: flex;
    justify-content: space-around;
}
#skills{
    display: flex;
    justify-content:center;
    padding: 10px;
    border-radius: 30px;   
}
#btn-restaurante{
    margin-top: 10%;
}
#icon-skills, #icon-projetos{
    padding-right: 1%;
}
#coluna1, #coluna2{
    display: flex ;
}

/* Classes */
.redesocial{
    color: rgb(228, 215, 215);
    padding: 0 px;
}
.btn-vejamais{
    background-color: rgb(24, 24, 92);
    border-radius: 10rem;
    margin: 0 10px;
    padding: 10px 70px;
    border-style:hidden;
    color: white;
    cursor: pointer;
}
.btn-vejamais:hover{
    background-color: white;
    color: rgb(24, 24, 92);
}
.skills{
    background-color: powderblue;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    margin: 0 10px;
    width: 70px;
    height: 70px;
    text-align: center;
}
.projetos{
    background-color: powderblue;
    padding: 10px;
    border-radius: 30px;
}
.title-list{
    display: flex;
}
.img-projetos{
    width: 200px;
    border-radius: 40px;
    padding: 10px;
}
.title-projetos{
    text-align: center;
    display: flex;
}

/* Mobile */
@media (max-width: 900px) {
    ul{
        text-align: left;
    }
    #projetos {
      flex-direction: column;
      display: contents;
      text-align: center;
      padding: 10px 0px;
    }
    #github, #linkedin, #instagram{
        padding:0 5px;
    }
    #container{
        margin-top: 4%;
        margin-left: 3%;
    }
    .btn-vejamais{
        width: 90%;
    }
    .projetos{
        margin: 5%;
    }
    .skills{
        margin: 2px;
        width: 60px;
        height: 50px;
       
    }
  }
  @media (max-width: 500px) {
    #skills{
        display: inline-block;
        text-align: center;
    }
    #coluna1, #coluna2{
        display: inline-flex;
    }
  }