/* LIMPA TELA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
html {
    scroll-behavior: smooth;
}
/* BODY */
body {
    /* Se algo passar do tamanho ideal, não ficará vísivel */
    overflow-x: hidden;
    color: #CED4DA;
    background-color: #161f50;
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-top: 5%;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
    /* BARRA MAIOR */
::-webkit-scrollbar-track {
    background-color: rgb(3, 3, 95);
}
    /* BARRA MENOR */
::-webkit-scrollbar-thumb {
    background-color: rgb(71, 109, 212);
    border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 68, 255);
}
/* CABEÇALHO */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
header nav a {
    margin-left: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
}
.logo-cabecalho {
    margin: 20px 0;
}
.menu {
    color: #CED4DA;
}
/* ANIMAÇÃO DO MENU */
.menu::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #CED4DA;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.menu:hover::after {
    width: 100%;
}
#menu-mobile, .menu-mobile-section {
    display: none;
}
.menu-mobile-abrir,
.menu-mobile-fechar {
    display: none;
    cursor: pointer;
}
/* HOME */
.conteudo-home {
    animation: gradient 2s ease-in-out alternate infinite;
    background: linear-gradient(-45deg, #02010A, #04052E,#240046, #140152) no-repeat;
    background-size: 300% 300%;

    color: #CED4DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
@keyframes gradient {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}
.conteudo-home-memoji {
    width: 270px;
    height: 440px;
    margin: 12% 0 7.2%;
}
.conteudo-home-paragrafo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
}
.conteudo-home-paragrafo-carreira {
    margin-top: -4%;
    border-right: 2px solid #CED4DA;
    font-size: 25px;
    width: 260px;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation {
    animation: Pisca 0.7s infinite normal, typing 4s steps(40) 1s normal;
}
/* Animação de ficar escrevendo "Desenvolvedor WEB" */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 260px;
    }
}
/* Animação de piscar "|" */
@keyframes Pisca {
    from {
        border-right-color: #CED4DA;
    }
    to{
        border-right: none;
    }
}
.conteudo-home-paragrafo-nome {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 60px;
}
/* SOBRE MIM */
.conteudo-sobre-mim {
    padding: 3% auto;
}
.conteudo-sobre-mim-div-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-sobre-mim-memoji {
    width: 290px;
    height: 460px;
    margin: 10% 0 9%;
}
.conteudo-sobre-mim-paragrafo {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;

    text-align: justify;
    width: 400px;
    height: 300px;
}
/* PROJETOS */
.conteudo-projetos {
    padding: 2% 0 10%;
}
.conteudo-div-projetos {
    display: flex;
    align-items: center;

    flex-flow: row wrap;
    justify-content: space-around;
    
    padding: 0;
    margin: 0 10%;
    list-style: none;
} 
.projetos a {
    margin-bottom: -4px;
}
.projetos-imagem{
    width: 200px;
    height: 180px;
    border-radius: 10%;
    margin: 5px;
}
.conteudo-projetos p {
    padding-bottom: 2%;
}
.projetos {
    background: #88ABFF;
    border-radius: 10%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}
.texto-overflay {
    opacity: 0;
    background: #88ABFF;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CED4DA;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.texto-overflay:hover {
    opacity: 1;
    transition: 0.5s;
}
/* ANIMAÇÃO DOS PROJETOS */
.card {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 1s;
}
.face {
    width: 200px;
    height: 180px;
    display: flex;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    color: #CED4DA;
    position: absolute;
}
.projetos-frente {
    background: #88ABFF;
    transform: rotateY(180deg);
}
.projetos-costas {
    background: #040813;
    backface-visibility: hidden;
}
.flip {
    transform: rotateY(180deg);
}
/* HABILIDADES */
.conteudo-habilidades {
    padding: 4% 0%;
}
.conteudo-div-skills {
    margin: 5% 0 0 8%;
}
.conteudo-habilidades-com-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-habilidades-imagem {
    width: 350px;
    height: 400px;
    margin-right: 5%;
}
.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills-imagem {
    width: 200px;
    height: 200px;
}
/* CONTATO */
.conteudo-contato {
    padding: 3% 0 1%;
}
.conteudo-contato-memoji {
    width: 420px;
    height: 420px;
    margin: 4% 0 5%;
}
.conteudo-contato-principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-contato-paragrafo-com-redes-sociais {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.conteudo-contato-paragrafo {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.div-redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 10px;
}
.redes-sociais-img {
    width: 40px;
    height: 40px;
}
.redes-sociais-img:hover {
    width: 36px;
    height: 36px;
    transition: 0.5s;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px 0;
}
/* BOTÃO VOLTA PRA O TOPO */
.div-arrow-img {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 3%;
    bottom: 5%;
    animation: arrowAnimation 1s ease-in-out infinite;
    opacity: 0;
    visibility: hidden;
}
.div-arrow-img.active {
    opacity: 1;
    visibility: visible;
}
@keyframes arrowAnimation {
    to {
        transform: translateY(15px);
    }
}
/* ANIMAÇÃO SECTIONS */
[data-anime] {
    opacity: 0;
    transition: 0.2s;
}
/* Animação de surgimento das informações de cada section */
[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}
[data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
}
[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/* Altura da tela de desktops de até 670px */
@media (max-height: 670px) {
    /* HOME */
    .conteudo-home-memoji {
        width: 270px;
        height: 440px;
        margin: 6% 0 10%;
    }
    /* SOBRE MIM */
    .conteudo-sobre-mim-memoji {
        width: 290px;
        height: 460px;
        margin: 6% 0 10% 5%;
    }
    /* PROJETOS */
    .conteudo-projetos {
        padding: 5% 0 10%;
    }
    /* HABILIDADES */
    .conteudo-habilidades {
        padding-top: 3%;
    }
    /* CONTATO */
    .conteudo-contato-memoji {
        width: 420px;
        height: 420px;
        margin: 9% 0 10%;
    }
}
@media (max-width: 1200px) {
    /* PROJETOS */
    .conteudo-projetos {
        padding: 7% 0 6%;
    }
    /* HABILIDADES */
    .conteudo-habilidades {
        padding: 5.5% 0 6%;
    }
    /* CONTATO */
    .conteudo-contato-memoji {
        width: 420px;
        height: 420px;
        margin: 5% 0 7%;
    }
}

/* MOBILE */
@media (max-width: 999px) {
    /* Para sections -> Sobre mim, Projetos, Habilidades e Contato */
    .title {
        padding-top: 0;
    }
    /* Cabeçalho */
    #menu-desktop {
        display: none;
    }
    #menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu-mobile-button {
        background-color: transparent;
    }
    #menu-mobile-button-img {
        height: 30px;
        margin-top: 25%;
        color: #CED4DA;
    }
    .menu-mobile-section {
        margin-top: 5px;
        display: none;
        padding-top: 1.2rem;
        position: absolute;
        background-color: #161f50;
        width: 50%;
        height: 95%;
        left: 50%;
    }
    .menu-mobile-section a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 5%;
    }
    .open {
        display:block;
    }
    .menu {
        text-align: center;
        left: 0;
        color: #CED4DA;
        padding: 10% 5%;
    }
    .logo-cabecalho {
        width: 100px;
        height: 15px;
        margin: 2%;
    }
    /* HOME - MOBILE */
    .conteudo-home-paragrafo {
        font-size: 20px;
    }
    .conteudo-home-paragrafo-nome {
        font-size: 70px;
    }
    .conteudo-home-paragrafo-carreira {
        font-size: 25px;
        width: 260px;
    }
    .conteudo-home-memoji {
        width: 250px;
        height: 400px;
        margin: 5% 20% 0;
    }
    .conteudo-home {
        display: grid;
        padding: 2% 5% 3%;
        
    }
    /* SOBRE MIM - MOBILE */
    .conteudo-sobre-mim-memoji {
        width: 180px;
        height: 280px;
        margin: 4% 25% 0;
    }
    .conteudo-sobre-mim-paragrafo {
        font-size: 14px;
        width: 350px;
        height: 250px;
        text-align: justify;
    }
    .conteudo-sobre-mim-button {
        width: 250px;
        height: 50px;
        margin: 0 15% 3%;
    }
    .conteudo-sobre-mim {
        padding: 3% 5%;
    }
    .conteudo-sobre-mim-div-principal {
        display: grid;
    }
    /* PROJETOS - MOBILE */
    .conteudo-projetos {
        padding: 3% 5%;
    }
    .projetos {
        margin: 5%;
    }
    /* HABILIDADES - MOBILE */
    .conteudo-habilidades {
        padding: 3% 5%;
    }
    .conteudo-div-skills {
        margin: 0 25%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .skills {
        margin: 3%;
    }
    .conteudo-habilidades-imagem {
        width: 200px;
        height: 200px;
        margin: 10% 20%;
    }
    .conteudo-habilidades-com-img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }
    /* CONTATO - MOBILE */
    .conteudo-contato {
        padding: 3% 5%;
    }
    .conteudo-contato-memoji {
        width: 200px;
        height: 200px;
        margin: 12% 20%;
    }
    .conteudo-contato-principal {
        flex-direction: column
    }
}
@media (max-width: 900px) {
    .conteudo-div-skills {
        padding: 0;
    }
    .conteudo-div-skills {
        padding: 0;
        margin: 0 22%;
    }
}
@media (max-width: 800px) {
    /* CABEÇALHO */
    #menu-mobile-button-imagem {
        margin-top: 10%;
    }
    /* SOBRE MIM - MOBILE */
    .conteudo-sobre-mim-memoji {
        width: 180px;
        height: 280px;
        margin: 4% 25% 0;
    }
    .conteudo-sobre-mim-paragrafo {
        font-size: 14px;
        width: 350px;
        height: 250px;
        text-align: justify;
    }
    .conteudo-sobre-mim-button {
        width: 250px;
        height: 50px;
        margin: 0 15% 3%;
    }
    .conteudo-sobre-mim {
        padding: 4% 5% 3%;
    }
    .conteudo-sobre-mim-div-principal {
        display: grid;
    }
    /* HABILIDADES - MOBILE */
    .conteudo-habilidades {
        padding: 5% 0;
    }
    .conteudo-div-skills {
        padding: 0;
        margin: 0 22%;
    }
    .skills {
        margin: 3%;
    }
    .conteudo-habilidades-imagem {
        width: 200px;
        height: 200px;
        margin: 10% 20%;
    }
    .conteudo-habilidades-com-img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }
    /* CONTATO - MOBILE */
    .conteudo-contato {
        padding: 10% 5%;
    }
    .conteudo-contato-memoji {
        width: 200px;
        height: 200px;
        margin: 12% 20%;
    }
    .conteudo-contato-principal {
        flex-direction: column
    }
}
@media (max-width: 715px) {
    /* HOME - MOBILE */
    .conteudo-home {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    /* HABILIDADES - MOBILE */
    .conteudo-div-skills {
        padding: 0;
        margin: 0 15%;
    }
    /* CONTATO -MOBILE */
    .conteudo-contato {
        padding-top: 4%;
        padding-bottom: 10%;
    }
}
@media (max-width: 575px) { 
    .logo-cabecalho {
        margin: 3% 0;
    }
    /* HOME - MOBILE */
    .conteudo-home {
        padding-top: 20%;
        padding-bottom: 1%;
    }
    .conteudo-home-paragrafo {
        font-size: 15px;
    }
    .conteudo-home-paragrafo-nome {
        font-size: 40px;
        margin-top: -5%;
    }
    .conteudo-home-paragrafo-carreira {
        font-size: 18px;
        width: 190px;
        height: 24px;
    }
    /* Animação de ficar escrevendo "Desenvolvedor WEB" */
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 190px;
        }
    } 
    .conteudo-home-memoji {
        margin: 10% 0 30% 0;
    }
    /* SOBRE MIM - MOBILE */
    .conteudo-sobre-mim {
        padding: 5% 0 5%;
    }
    .conteudo-sobre-mim-button {
        margin-left: 14%;
        margin-right: 14%;
    }
    /* PROJETOS - MOBILE */
    .conteudo-projetos {
        padding: 5% 0;
    }
    /* HABILIDADES - MOBILE */
    .conteudo-habilidades {
        padding: 5% 0;
    }
    .conteudo-div-skills {
        margin: 0 5%;
    }
    /* CONTATO - MOBILE */
    .conteudo-contato {
        padding: 5% 0 15%;
    }
}
@media (max-width: 375px) {
    /* HOME - MOBILE */
    .conteudo-home {
        padding-top: 20%;
    }
    .conteudo-home-paragrafo {
        font-size: 15px;
        margin-top: -5%;
    }
    .conteudo-home-paragrafo-nome {
        font-size: 40px;
        margin-top: -5%;
    }
    .conteudo-home-paragrafo-carreira {
        margin-top: -3%;
        font-size: 18px;
        width: 190px;
        height: 25px;
    }
    /* Animação de ficar escrevendo "Desenvolvedor WEB" */
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 190px;
        }
    }
    .conteudo-home-memoji {
        margin: 10% 0 30% 0;
    }
    /* SOBRE MIM - MOBILE */
    .conteudo-sobre-mim {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .conteudo-sobre-mim-memoji {
        margin-left: 20%;
        margin-right: 20%;
    }
    .conteudo-sobre-mim-paragrafo {
        font-size: 12px;
        width: 300px;
        height: 230px;
        text-align: justify;
    }
    .conteudo-sobre-mim-button {
        margin-left: 8%;
        margin-right: 8%;
    }
    /* PROJETOS - MOBILE */
    .conteudo-projetos {
        padding: 10% 0 5%;
    }
    /* HABILIDADES - MOBILE */
    .conteudo-habilidades {
        padding: 10% 0 4%;
    }
    .conteudo-div-skills {
        margin: 0 20%;
        display: contents;
    }
    /* CONTATO - MOBILE */
    .conteudo-contato {
        padding: 15% 0 10%;
    }
}